<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gapster - Intelligent Question Generation</title>

    <!-- Bootstrap core CSS -->
    <link href={{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }} rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href={{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }} rel="stylesheet" type="text/css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href={{ url_for('static', filename="vendor/magnific-popup/magnific-popup.css") }} rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href={{ url_for('static', filename="css/creative.css") }} rel="stylesheet">
    <link href={{ url_for('static', filename="style.css") }} rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Gapster</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Demo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Technologies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading">Intelligent<br/>Question Generation</h1>
          <hr>
          <p>Gapster takes text on any topic imaginable and returns fill-in-the-blank, multiple choices questions to challenge and engage your audience.</p>
          <a class="btn btn-outline-light btn-xl js-scroll-trigger" href="#about">Try the demo</a>
        </div>
      </div>
    </header>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Experience Gapster first-hand</h2>
            <!-- <p class="demoText">Choose a topic and a random article from Wikipedia is sent to Gapster's power algorithms to output a multiple choice question in real-time.</p> -->
            <div class="dropdown">
              <button class="btn btn btn-outline-light btn-xl dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose a topic</button> 
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" id="art" href="#">Arts</a>
              <a class="dropdown-item" id="history" href="#">History</a>
              <a class="dropdown-item" id="people" href="#">People</a>
              <a class="dropdown-item" id="society" href="#">Society</a>
              <a class="dropdown-item" id="science" href="#">Physical Sciences</a>
              <a class="dropdown-item" id="math" href="#">Mathematics</a>
            </div>
          </div>
          <div id="questionLoading">
            <div class="loader"></div> 
            <div id="loadingText">generating your question from wikipedia</div>
          </div>
            <div id="questionBox">
              <i class="fa fa-times-circle fa-pull-right fa-2x" aria-hidden="true"></i>
              <div id="articleTitle"></div>
              <div id="question">
                
                <div id="questionText"></div>
                <div id="choices"><br/>
                  <button type="button" id="choiceOne" class="btn btn-outline-primary choiceButton"></button><br/>
                  <button type="button" id="choiceTwo" class="btn btn-outline-primary choiceButton"></button><br/>
                  <button type="button" id="choiceThree" class="btn btn-outline-primary choiceButton"></button><br/>
                  <button type="button" id="choiceFour" class="btn btn-outline-primary choiceButton"></button>
                </div>
              </div>
            </div>
            <div class="spacer"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About the service</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-magic text-primary sr-icons"></i>
              <h3>Flexible</h3>
              <p class="text-muted">Gaspter can produces questions from any topic</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-bolt text-primary sr-icons"></i>
              <h3>Fast</h3>
              <p class="text-muted">Is optimized to run over the web and provides questions quickly</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-space-shuttle text-primary sr-icons"></i>
              <h3>State of the art</h3>
              <p class="text-muted">Uses the latest trained models and corpuses for parsing</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-cogs text-primary sr-icons"></i>
              <h3>Customizable</h3>
              <p class="text-muted">Comming soon Gapster will allow flags for difficulty and target topics</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section style="text-align: center;" class="p-0" id="portfolio">
      <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
          <div class="col-lg-4 col-sm-6">
            <img class="img-fluid techLogo" src="/static/python.png" alt="">
          </div>
          <div class="col-lg-4 col-sm-6">
            <img class="img-fluid techLogo" src="/static/spacy.png" alt="">
          </div>
          <div class="col-lg-4 col-sm-6">
            <img class="img-fluid techLogo" src="/static/scikit-learn.png" alt="">
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p>Are you interested in learning more about Gapster and Automated Question Generation?</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <a href="https://www.github.com/exchez">
              <i class="fa fa-github fa-3x sr-contact"></i>
            </a>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <a href="https://www.twitter.com/exchez"
              <i class="fa fa-twitter fa-3x sr-contact"></i>
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src={{ url_for('static', filename="vendor/jquery/jquery.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>
    
    <!-- Plugin JavaScript -->
    <script src={{ url_for('static', filename="vendor/jquery-easing/jquery.easing.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/scrollreveal/scrollreveal.min.js") }}></script>
    <script src={{ url_for('static', filename="vendor/magnific-popup/jquery.magnific-popup.min.js") }}></script>


    <!-- Custom scripts for this template -->
    <script src={{ url_for('static', filename="js/creative.min.js") }}></script>
    <script src={{ url_for('static', filename="script.js") }}></script>


  </body>

</html>
